*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.carousel{
  margin: auto;
  width: 210px;
  overflow: hidden;
  position: relative;
}

.carousel-slide{
  display: flex;
  height: 250px;
}
